<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959558551662-d275je81o2u27fifouq0omlmirrucubd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959558551662-d275je81o2u27fifouq0omlmirrucubd</string>
	<key>API_KEY</key>
	<string>AIzaSyCAch37mCADB5YS7o3doDOtBEiuMZUFx1g</string>
	<key>GCM_SENDER_ID</key>
	<string>959558551662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Asteriskhubs.Kutumba</string>
	<key>PROJECT_ID</key>
	<string>kutumba8-585d3</string>
	<key>STORAGE_BUCKET</key>
	<string>kutumba8-585d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959558551662:ios:b64915ce8e98f4cd207e7f</string>
</dict>
</plist>